.footer {
  background-color: #0b0f19;
  color: #9ca3af;

  &__wrapper {
    flex-direction: column;
  }

  &-top {
    display: flex;
    gap: 50px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .footer-social {
      flex: 1 1 35%;
      text-wrap: balance;
    }

    .footer-links-grid {
      flex: 1 1 65%;
      display: flex;
      gap: 2rem;
      justify-content: space-between;
    }
  }

  &-social__links-container ul {
    display: flex;
    max-width: 300px;
    gap: 20px;
    font-size: 28px;
    margin: 15px 0;
  }

  & .nav-logo-img {
    display: flex;
    margin-bottom: 15px;
    font-size: 43px;
    position: relative;
    z-index: 1;
    border: none;
  }

  &__column-title {
    display: block;
    margin-bottom: 10px;
    color: #e5e7eb;
  }
}
